/*  🚭   🐻  💋   ❤   */

@media (min-width: 1400px) 
{

   @font-face 
     {

       font-family: "emoji_seguiemj"; 
       src:
            url(http://bearlovrduck.github.io/webfont/seguiemj.woff) format('woff');
            unicode-range: U+1F6AD,U+1F43B,U+1F48B, U+2764;
     }
}

@media (max-width: 1399px) 
{

   @font-face 
     {

       font-family: "emoji_NotoColorEmoji"; 
       src: 
            local('seg ui emj'),
            local('seg ui sym '),
            unicode-range: U+1F6AD,U+1F43B,U+1F48B, U+2764;
     }
}